
-
  catalogList = [
    {
      imgUrl: 'img/catalog/catalog-img-1',
      title: 'Binghatti Hills',
      tags: [
        'Новинка',
        'Старт продаж',
      ],
      logoUrl: 'img/catalog/catalog-logo-1.png',
      address: [
        'Dubai Science Park',
        '3 квартал 2026',
      ],
      description: 'Баланс между динамичной городской жизнью и спокойным отдыхом. Порадуйте себя отдыхом в отличном месте',
      roomsList: [
        {
          name: 'Студии',
          size: '35,7 м<sup>2</sup>'
        },
        {
          name: '1-комнатные',
          size: '56,1 м<sup>2</sup>'
        },
        {
          name: '2-комнатные',
          size: '66,1 м<sup>2</sup>'
        },
        {
          name: '3-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
        {
          name: '4-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
        {
          name: '5-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
      ],
      prices: [
        {
          currency: 'RUB',
          value: '18 млн ₽',
        },
        {
          currency: 'USD',
          value: '211 755 $',
        },
        {
          currency: 'EUR',
          value: '195 217 €',
        },
        {
          currency: 'AED',
          value: '777 777 AED',
        },
      ]
    },
    {
      imgUrl: 'img/catalog/catalog-img-2',
      title: 'Enqlave (Golden Bridge)',
      tags: [
        'Новинка',
        'Старт продаж',
      ],
      logoUrl: 'img/catalog/catalog-logo-2.png',
      address: [
        'Discovery Gardens',
        '3 квартал 2026',
      ],
      description: 'Enqlave вниманием к деталям и сочетанием современной элегантности, комфорта и практичности',
      roomsList: [
        {
          name: 'Студии',
          size: '35,7 м<sup>2</sup>'
        },
        {
          name: '1-комнатные',
          size: '56,1 м<sup>2</sup>'
        },
        {
          name: '2-комнатные',
          size: '66,1 м<sup>2</sup>'
        },
        {
          name: '3-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
        {
          name: '4-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
        {
          name: '5-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
      ],
      prices: [
        {
          currency: 'RUB',
          value: '18 млн ₽',
        },
        {
          currency: 'USD',
          value: '211 755 $',
        },
        {
          currency: 'EUR',
          value: '195 217 €',
        },
        {
          currency: 'AED',
          value: '777 777 AED',
        },
      ]
    },
    {
      imgUrl: 'img/catalog/catalog-img-3',
      title: 'Mangrove',
      tags: [
        'Новинка',
        'Старт продаж',
      ],
      logoUrl: 'img/catalog/catalog-logo-3.png',
      address: [
        'Dubai Creek Harbour',
        '3 квартал 2026',
      ],
      description: 'Эксклюзивный жилой комплекс, включающий в себя 2 башни, которые расположены вокруг центральной площади',
      roomsList: [
        {
          name: 'Студии',
          size: '35,7 м<sup>2</sup>'
        },
        {
          name: '1-комнатные',
          size: '56,1 м<sup>2</sup>'
        },
        {
          name: '2-комнатные',
          size: '66,1 м<sup>2</sup>'
        },
        {
          name: '3-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
        {
          name: '4-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
        {
          name: '5-комнатные',
          size: '88,7 м<sup>2</sup>'
        },
      ],
      prices: [
        {
          currency: 'RUB',
          value: '18 млн ₽',
        },
        {
          currency: 'USD',
          value: '211 755 $',
        },
        {
          currency: 'EUR',
          value: '195 217 €',
        },
        {
          currency: 'AED',
          value: '777 777 AED',
        },
      ]
    },
    {
      imgUrl: 'img/catalog/catalog-img-4',
      title: 'LUM1NAR',
      tags: [
        'Новинка',
        'Старт продаж',
      ],
      logoUrl: 'img/catalog/catalog-logo-4.png',
      address: [
        'JVT (2 округ)',
        '3 квартал 2026',
        '25 этажей'
      ],
      description: 'Эксклюзивный жилой комплекс, включающий в себя 2 башни, которые расположены вокруг центральной площади',
      roomsList: [
        {
          name: 'Студии',
          size: '35,7 м<sup>2</sup>'
        },
        {
          name: '1-комнатные',
          size: '56,1 м<sup>2</sup>'
        },
        {
          name: '2-комнатные',
          size: '66,1 м<sup>2</sup>'
        },
      ],
      prices: [
        {
          currency: 'RUB',
          value: '18 млн ₽',
        },
        {
          currency: 'USD',
          value: '211 755 $',
        },
        {
          currency: 'EUR',
          value: '195 217 €',
        },
        {
          currency: 'AED',
          value: '777 777 AED',
        },
      ]
    },
    {
      imgUrl: 'img/catalog/catalog-img-5',
      title: 'Сreek View',
      tags: [
        'Новинка',
        'Старт продаж',
      ],
      logoUrl: 'img/catalog/catalog-logo-5.png',
      address: [
        'Al Jaddaf',
        'декабрь 2025',
        '14 этажей'
      ],
      description: 'Современное здание в пастельных оттенках с эстетичным сочетанием дерева и стекла',
      roomsList: [
        {
          name: 'Студии',
          size: '35,7 м<sup>2</sup>'
        },
        {
          name: '1-комнатные',
          size: '56,1 м<sup>2</sup>'
        },
        {
          name: '2-комнатные',
          size: '66,1 м<sup>2</sup>'
        },
      ],
      prices: [
        {
          currency: 'RUB',
          value: '18 млн ₽',
        },
        {
          currency: 'USD',
          value: '211 755 $',
        },
        {
          currency: 'EUR',
          value: '195 217 €',
        },
        {
          currency: 'AED',
          value: '777 777 AED',
        },
      ]
    },
    {
      imgUrl: 'img/catalog/catalog-img-5',
      title: 'Vitality',
      tags: [
        'Новинка',
        'Старт продаж',
      ],
      logoUrl: 'img/catalog/catalog-logo-5.png',
      address: [
        'JVC (10 округ)',
        '1 квартал 2026',
        '8 этажей'
      ],
      description: 'Проект является ярким отражением идеи единства. Интерьер, создает комфортные премиальные условия для жизни.',
      roomsList: [
        {
          name: 'Студии',
          size: '35,7 м<sup>2</sup>'
        },
        {
          name: '1-комнатные',
          size: '56,1 м<sup>2</sup>'
        },
        {
          name: '2-комнатные',
          size: '66,1 м<sup>2</sup>'
        },
      ],
      prices: [
        {
          currency: 'RUB',
          value: '18 млн ₽',
        },
        {
          currency: 'USD',
          value: '211 755 $',
        },
        {
          currency: 'EUR',
          value: '195 217 €',
        },
        {
          currency: 'AED',
          value: '777 777 AED',
        },
      ]
    },
  ]

section.section-bg-white.catalog#catalog
  .container
    h2.title.title-big.title-section Каталог
    .catalog__list
      .row.g-3
        each item in catalogList
          .col-12.col-lg-6.col-xl-4.element-animation
            .catalog__item.js-catalog-item
              .catalog__item-img.js-catalog-item-img
                .swiper.catalog__item-slider.js-catalog-item-slider
                  .swiper-wrapper
                    each i in [1, 2, 3, 4, 5, 6]
                      .swiper-slide
                        +lazyImage({
                          imageSrc: `img/catalog/catalog-img-${i}`,
                          type: 'background',
                          classes: 'w-100 h-100 catalog__item-img-ratio',
                          imageClasses: 'w-100 h-100',
                        })
                        //- +lazyImage({
                        //-   imageSrc: `img/catalog/catalog-img-${i}`,
                        //-   type: 'background',
                        //-   classes: 'w-100 h-100 ratio catalog__item-img-ratio',
                        //-   imageClasses: 'w-100 h-100',
                        //- })
                  .slider__pagination.catalog__item-slider-pagination
                    .slider__pagination-bullet
                  .catalog__item-slider-navigation.catalog__item-slider-navigation-prev
                    +icon('arrow-up')
                  .catalog__item-slider-navigation.catalog__item-slider-navigation-next
                    +icon('arrow-up')
                .catalog__item-img-tagslist
                  each tag in item.tags
                    span.catalog__item-img-tag #{tag}
              
              .catalog__item-info
                .catalog__item-info-top
                  h3.title.title-medium #{item.title}
                  .catalog__item-info-logo
                    img(src=item.logoUrl, alt="logo")
                .catalog__item-info-middle
                  .catalog__item-info-address
                    each piece in item.address
                      p #{piece}
                  button(type='button').catalog__item-info-more.js-catalog-item-more
                    span Планировки
                    +icon('arrow-up')
                .catalog__item-info-bottom
                  p #{item.description}
                
                .catalog__item-info-table.js-catalog-table
                  .catalog__item-info-table-content
                    each row in item.roomsList
                      .catalog__item-info-table-row.js-catalog-table-row
                        span #{row.name}
                        span.js-catalog-table-row-number !{row.size}
                        .catalog__item-info-table-sqrt
                          .form__group(data-select-dropdown)
                            .form__dropdown
                              button.form__dropdown-button(type='button' data-bs-toggle='dropdown' aria-expanded='false' data-select-dropdown-button data-value='meters')
                                div(data-select-dropdown-selected) м#[sup 2]
                                +icon('arrow-down')
                              .form__dropdown-dropdown.dropdown-menu(data-select-dropdown-menu style)
                                ul.form__dropdown-list
                                  li.form__dropdown-list-item.is-selected.p-1(data-value='meters' data-number='35,7<sup>2</sup>' data-select-dropdown-option) м#[sup 2]
                                  li.form__dropdown-list-item.p-2(data-value='sqarfeet' data-number='726 sq.ft<sup>2</sup>' data-select-dropdown-option) sq.ft
                            input(hidden type='text' data-select-dropdown-output)
                  p.catalog__item-info-table-furniture Меблировка: нет
              
                .catalog__item-info-controlls
                  .catalog__item-info-controlls-price.js-catalog-price
                    .catalog__item-info-controlls-list
                      each price, i in item.prices
                        div(class=['catalog__item-info-controlls-elem', i==3 ? 'is-active': null] data-value=price.value).js-catalog-price-elem
                          span #{price.currency}
                    p.catalog__item-info-controlls-value от #[span.js-catalog-price-value 887 000 AED] 
                  a(href="#" class="button button-black")
                    span Подробнее 

    .element-animation
      a(href="#" class="button button-outline catalog__button")
        span Показать еще 
              

          
      